@import './colors';

.tile-viewer{
    padding: 8px 12px;

    border-right: 1px solid $border;
    
    .label {
        opacity: .8;
    }    

    p {
        font-size: 18px;
    }

    .zoom-container {
        display: flex;
        align-items: center;
        
        input {
            font-size: 12px;
            width: 100%;
        }
    }

    .divider {
        background-color: $border;
        height: .8px;
        margin: 12px 0px;
    }

    & > button {
        width: 100%;
        margin: 12px 0px;
        display: block;
    }
    
}

.ButtonInputPair {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    margin-bottom: 10px;

    input {
        width: 100%;
    }
}

.TileViewerTile {
    width: 180px;
    height: 180px;
    margin: 10px auto;

    border: 1px solid blue;
    background-color: gray;
}